p{
    font-size: 20px;

    font-weight: bold;
    font-family: cursive;
}
img{
    width: 400px;
    height: 300px;

}
div{
    background-color: blueviolet;
    padding-left: 30px;
    margin-right: 50px;
}
.division1{
    background-color: #1d8508;
}
.division2{
    background-color: #de7832;
}
.division3 {
    background-color: #ff06c5;
}
#main{
    background-color: #0a0a0a;
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}
.imagepg{
    display: grid;
}